<html>

  <head>
    <title>Alex's Blog</title>
  </head>

  <body>

    <div>
      <h1><a href=''>Alex's Blog</a></h1>
    </div>

    <div>
      <p>published: 12.06.2015, 6:29</p>
      <h2><a href=''>First Post</a></h2>
      <p>Bender, this is Fry's decision… and he made it wrong. So it's time for us to interfere in his life. What kind of a father would I be if I said no? Guards! Bring me the forms I need to fill out to have her taken away!</p>
    </div>

    <div>
      <p>published: 12.06.2015, 6:30</p>
      <h2><a href=''>Second Post</a></h2>
      <p>Anyone who laughs is a communist! Ah, the 'Breakfast Club' soundtrack! I can't wait til I'm old enough to feel ways about stuff! No! The cat shelter's on to me. Bender, hurry! This fuel's expensive! Also, we're dying!</p>
    </div>

  </body>

</html>
